<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.all4pet.mapper.BillMapper">


<insert id="saveBill" parameterType="com.all4pet.entity.BillEntity">
INSERT INTO BILL 
	(ADDRESS,
	 BILLDATE,
	 DELIVERYDATE,
	 EMAIL, NOTE, 
	 PAYMENTMETHOD, 
	 PHONENUMBER, 
	 RECEIVER, 
	 STATUS, 
	 BILLCODE,
	 TOTALMONEY)
VALUES( 
	#{address},
	#{billDate} , 
	#{deliveryDate},
	#{email},
	#{note},
	#{paymentMethod},
	#{phoneNumber},
	#{receiver},
	#{status},
	#{billCode},
	#{totalMoney} )
   </insert>
   
    <insert id="saveBillItems" parameterType="com.all4pet.entity.BillEntity">
   INSERT INTO  BILLITEMS(PRODUCTID, BILLCODE ) VALUES ( #{productId}, #{billCode} );
   </insert> 
   
      <select id="getListBillByUserName" resultMap="getListBillByUserName"> 
    	select b.*, bi.productid, p.* from bill b, billitems bi, product p 
		where b.billcode = bi.billcode
		and b.receiver = #{userName}
		and bi.productid = p.id
    </select>
    
     <select id="getOrderList" resultMap="getListBillByUserName"> 
    	select b.*, bi.productid, p.* 
		from bill b, billitems bi, product p 
		where 1=1 
		and b.billcode = bi.billcode collate utf8_general_ci
		and bi.productid = p.id
    </select>
    
      <resultMap id = "getListBillByUserName" type = "com.all4pet.entity.BillEntity">
      <result property="id" column="id"/>
       <result property = "receiver" column = "receiver"/>
       <result property = "address" column = "address"/>
       <result property = "phoneNumber" column = "phoneNumber"/>
       <result property = "paymentMethod" column = "paymentMethod"/>
       <result property = "email" column = "email"/>
       <result property = "billDate" column = "billDate"/>
       <result property = "note" column = "note"/>
       <result property = "billCode" column = "billCode"/>
       <result property = "totalMoney" column = "totalMoney"/>
       <collection property="listProducts" ofType="com.all4pet.entity.ProductEntity">
	        <result property = "name" column = "name"/>
	        <result property = "amount" column = "amount"/>
	        <result property = "url" column = "url"/>
	        <result property = "price" column = "price"/>
	        <result property = "promotion" column = "promotion"/>
	        <result property = "type" column="type" />
	        <result property = "url2" column = "url2"/>
	        <result property = "url3" column = "url3"/>
	        <result property = "brand" column = "brand"/>
	        <result property = "description" column = "description"/>
	        <result property = "numOfPurchase" column = "numofpurchase"/>
	        <result property = "color" column = "color"/>
	        <result property = "size" column = "size"/>  
	</collection>
       
    </resultMap>
     <delete id="deleteOrderById" parameterType="long">
        DELETE FROM BILL WHERE ID = #{id};
    </delete>
   
</mapper>